@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Staatliches:400');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #ce1212;
    text-decoration: none;
}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #eeebdd;
    text-decoration: none;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px, 10%;
    margin-right: 50px;
    background-color: #eeebdd;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    margin-left: 50px;
    width: 8%;
    height: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #ce1212;
}

button{
    padding: 9px 25px;
    background-color: rgba(206, 18, 18, 1);
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(206, 18, 18, .5);
}

#divIDs{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Staatliches, sans-serif;
    width: 100%;
    height: 100vh;
}

#parallax{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Staatliches, sans-serif;
    width: 100%;
    height: 100vh;
}

#h2IDs{
    font-size: 60px;
    color: #ce1212;
    background-color: #eeebdd;
    padding: 8px 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

#h2BPSU{
    font-size: 60px;
    color: #ce1212;
    background-color: #eeebdd;
    padding: 8px 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

div:nth-child(3){
    background-image: url(img/1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

div:nth-child(4){
    background-color: #eeebdd;
}

div:nth-child(5){
    height: 400px;
    background-image: url(img/2.jpg);
    background-attachment: fixed;
    background-size: cover;
}

div:nth-child(6){
    background: #eeebdd;
}

.bpsulog{
    display: block;
    background: none;
    padding: 8px 24px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

#bpsuInfo{
    color: #343a40;
    width: 1000px;
    position: relative;
    left: 20px;
    text-align: justify;
    font-size: 25px;
    background-color: #eeebdd;
    padding: 8px 24px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

/*
.footer{
    background: #303036;
    color: #d3d3d3;
    height: 400px;
    position: relative;
}
*/

.footerCopy .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    border: 0px;
    left: 0px;
    bottom: 0px;
    padding-top: 20px;
}

#btnScrollToTop{
    position: fixed;
    right: 20px;
    bottom: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnScrollToTop:active{
    background: #cc2333;
}

#scrlIcon{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btnSwitchN{
    position: fixed;
    right: 20px;
    bottom: 130px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnSwitchN:active{
    background: #cc2333;
}

#btnSwitchL{
    position: fixed;
    right: 20px;
    bottom: 190px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: #e62739;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
}

#btnSwitchL:active{
    background: #cc2333;
}

#switchIcon{
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}